<footer class="footer">

  <div class="container">

    <hr/>
    <ul>
      <li><a href="mailto:henry@poydar.com">{% include icon-mail.svg %}</a></li>
      <li class="twitter"><a href="https://twitter.com/hpoydar">{% include icon-twitter.svg %}</a></li>
      <li class="instagram"><a href="https://instagram.com/hpoydar">{% include icon-instagram.svg %}</a></li>
      <li class="github"><a href="https://github.com.com/hpoydar">{% include icon-github.svg %}</a></li>
      <li class="location"><a href="https://www.google.com/maps/place/Brooklyn+NY,+United+States">{% include icon-location-pin.svg %}</a></li>
    </ul>

  </div>

</footer>
